@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-size: 100%;
	background-repeat: repeat;
	background-position: top left;
	transition: background-image 0.2s ease-in-out
}

html.dark {
  background-image: url('/images/dark-bg.svg');
}

html.light {
  background-image: url('/images/light-bg.svg');
}
